.App{
    text-align: center;
    background-color: #dee6ea;
    font-family: Arial, sans-serif;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.main-content {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 20px;
    gap: 20px;
}

.student-form {
    flex: 1;
    background-color: #e0f7c5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(223, 60, 60, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-preview {
    flex: 1;
    background-color: #f6d6f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(223, 60, 60, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;  
    word-break: break-word; 
}

select.options {
    padding: 5px;
    font-size: 20px;
}

.hobbies-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.about-textarea textarea {
    width: 50%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.toggle-button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#name {
    padding: 5px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

